In [2]:
import pandas as pd
from scipy.stats import chi2_contingency

In [3]:
hos = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/Housing.csv")

In [4]:
hos

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [8]:
ctab = pd.crosstab(hos['prefarea'], hos['gashw'])
ctab

gashw      no  yes
prefarea
no        396   22
yes       125    3

In [16]:
test_statistic, p_value, df, expected_frequencies = chi2_contingency(ctab)
print("Expected Frequencies :\n", expected_frequencies,"\n")
print("p value : ",p_value)

Expected Frequencies :
 [[398.86080586  19.13919414]
 [122.13919414   5.86080586]]

p value :  0.25389003711306934