In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

In [2]:
os.chdir(r"C:\Hogwarts\advanced_analytics")

car = pd.read_csv("Cars93.csv")
print(car.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min.Price           93 non-null     float64
 4   Price               93 non-null     float64
 5   Max.Price           93 non-null     float64
 6   MPG.city            93 non-null     int64
 7   MPG.highway         93 non-null     int64
 8   AirBags             93 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 93 non-null     int64
 14  Rev.per.mile        93 non-null     int64
 15  Man.trans.avail     93 non-null     object
 16  Fuel.tank.capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn.circle         93 non-null     int64
 22  Rear.seat.room      91 non-null     float64
 23  Luggage.room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
dtypes: float64(7), int64(11), object(8)
memory usage: 19.0+ KB
None

In [9]:
Cars93 = pd.read_csv('cars93.csv')

Cars93['Type'].value_counts(normalize=True)
Cars93['AirBags'].value_counts(normalize=True)

Driver only           0.462366
None                  0.365591
Driver & Passenger    0.172043
Name: AirBags, dtype: float64

In [15]:
Cars93.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,2705,non-USA
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,3560,non-USA
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,3375,non-USA
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,21.1,6,193,106,70,37,31.0,17.0,3405,non-USA
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,3640,non-USA

In [19]:
pd.crosstab(Cars93['Type'],
            Cars93['AirBags'],
            margins = True)

AirBags  Driver & Passenger  Driver only  None  All
Type
Compact                   2            9     5   16
Large                     4            7     0   11
Midsize                   7           11     4   22
Small                     0            5    16   21
Sporty                    3            8     3   14
Van                       0            3     6    9
All                      16           43    34   93

## Normalize All

In [14]:
pd.crosstab(Cars93['Type'],
            Cars93['AirBags'],
            normalize = 'all',
            margins = True)

AirBags  Driver & Passenger  Driver only      None       All
Type
Compact            0.021505     0.096774  0.053763  0.172043
Large              0.043011     0.075269  0.000000  0.118280
Midsize            0.075269     0.118280  0.043011  0.236559
Small              0.000000     0.053763  0.172043  0.225806
Sporty             0.032258     0.086022  0.032258  0.150538
Van                0.000000     0.032258  0.064516  0.096774
All                0.172043     0.462366  0.365591  1.000000

## Normalize Columns

In [18]:
pd.crosstab(Cars93['Type'],
            Cars93['AirBags'],
            normalize = 'columns',
            margins = True)

AirBags  Driver & Passenger  Driver only      None       All
Type
Compact              0.1250     0.209302  0.147059  0.172043
Large                0.2500     0.162791  0.000000  0.118280
Midsize              0.4375     0.255814  0.117647  0.236559
Small                0.0000     0.116279  0.470588  0.225806
Sporty               0.1875     0.186047  0.088235  0.150538
Van                  0.0000     0.069767  0.176471  0.096774